* {
    box-sizing: border-box;
}
.container {
    padding: 0 60px;
}
nav {
    height: 50px;
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav img {
    border-radius: 50%;
    height: 40px;
    margin: 5px 100px 5px 0;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 14px;
    padding: 0 16px;
    color: white;
}
nav ul li a:hover {
    color: black;
}
body {
    background: url('../images/outerspace_landscape.jpeg') no-repeat;
    background-size: cover;

}
.borderBox {
    width: 600px;
    height: 300px;
    margin: 150px auto;
    border: 8px dashed green;
    position: relative;
}
.animal {
    width: 200px;
    height: 200px;
    position: absolute;
}
.cat {
    top: -100px;
    left: -100px;
}
.dog {
    right: -100px;
    bottom: -100px;
}
