* {
    box-sizing: border-box;
    font-size: 16px;
}

main {
    width: 800px;
    margin: 100px auto;
}

.container {
    background-color: lightgray;
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
}
nav {
    padding: 0 60px;
}
.navTitle {
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    float: left
}
nav ul {
    display: inline;
    float: right;
}
nav ul li {
    display: inline-block;
    margin-left: 15px;
}
nav ul li a {
    text-decoration: none;
}
.search img {
    height: 41px;
    vertical-align: bottom;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 3px;
}
.search input {
    height: 20px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 20px 10px;
}
.pagination,
.content{
    margin-top: 50px;
}
.btn {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
}
.pagination span {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0;
}
.contentDate,
.contentLoc {
    color: gray;
}
.contentTitle {
    color: blue;
    font-weight: 500;
    margin: 0 20px;
}